$font-color: #EBF2FA;
$background-color: #002A3C;
$hover-background-color: #335f7d;
$font-family: "Poppins", sans-serif;
$font-weight: 600;
$font-size: 1.5rem;
$border-radius: 10px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin hover-effect {
  &:hover {
    background-color: $hover-background-color;
    border: none;
    color: $font-color;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

html, body {
  background-color: $background-color;
  padding: 0 4%;
}

.calculator {
  @include flex-center;
  flex-direction: column;
  height: 100dvh;
  
  .calculator__components {
    @include flex-center;
    flex-direction: column;
    background-color: $background-color;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 1.5rem;
    
    .title {
      color: $font-color;
      font-size: $font-size;
      font-weight: 900;
      margin-bottom: 20px;
      text-transform: uppercase;
      text-align: center;
    }
    
    .calculator__sections {
      width: 100%;
    }
  }
}

.display {
  @include flex-end;
  flex-direction: column;
  height: 100px;
  border: 2px solid $font-color;
  border-radius: $border-radius;
  padding: 10px;
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: right;
  margin-bottom: 10px;
  
  .previousDisplay, .currentDisplay {
    height: 50%;
  }
  
  .previousDisplay {
    color: #427AA1;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .currentDisplay {
    color: $font-color;
    font-size: $font-size;
    font-weight: $font-weight;
  }
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  grid-template-rows: repeat(5, 50px);
  
  .cancel {
    grid-column: 1/span 2;
  }
  
  .zero {
    grid-column: 1/span 3;
  }
  
  .btn {
    background-color: $background-color;
    border: 1px solid $font-color;
    border-radius: $border-radius;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: $font-weight;
    
    @include hover-effect;
  }
  
  .operator {
    color: #427AA1;
    
    @include hover-effect;
  }
  
  .cancel, .clear {
    color: #A14242;
    
    &:hover {
      background-color: #A14242;
      color: $font-color;
      border: none;
    }
  }
  
  .number, .equal {
    color: $font-color;
    
    &:hover {
      background-color: #c2d7f0;
      border: none;
      color: #427AA1;
    }
  }
}

.author {
  @include flex-center;
  color: $font-color;
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 20px;
  p {
    a {
      color: $font-color;
      text-decoration: none;
    }
  }
}

@media (max-width: 420px) {

  .calculator {
    .calculator__components {
      width: 90%;
      padding: 1rem;
    }
    .title {
      font-size: 1rem !important;
    }
  }

  .display {
    height: 80px;
    font-size: 1.2rem;
    
    .previousDisplay {
      font-size: 1rem;
    }
    
    .currentDisplay {
      font-size: 1.2rem;
    }
  }

  .buttons {
    grid-template-rows: repeat(5, 40px);
    
    .btn {
      font-size: 0.8rem;
      padding: 5px;
    }
  }
}